body{
	background-color:#7EC0EE;
}
h1{
	margin-top:7%;
	text-align:center;
	font-size:50px;
	margin-bottom:4%;
	color:white;
	font-weight:bold;
}
h2,h3{
	text-align:center;
}
h3{
	font-size:20px;
	margin-top:-1px !important;
	margin-bottom:33px !important; 
}
input{
	width:300px !important;
	margin:0 auto;
}
button{
	margin-top:3% !important;
	width:120px;
	display:block !important;
	margin:0 auto;
	transition: 0.7s linear all;
	color:black;
	font-family:helvetica;

}
button:hover{
transition: 0.7s linear all;
background:pink !important;
color:white !important;



}
img{
	width:400px;
	margin: 0 auto !important;
	display:block;
}
.header{
	transition:0.3s linear all;
		opacity:0.8;
		font-size:30px;
	font-weight:900;
	color:pink;
}
/*.header.ng-enter{
	opacity:1;
	transition:0.3 linear all;
}
.header.ng-enter.ng-enter-active{
	opacity:0.3;
	font-weight:900;
	color:black;
}
.header.ng-leave{
	transition:0.3s linear all;
	opacity:0;
	font-weight:900;
	color:black;
}
.header.ng-leave.ng-leave-active{
	opacity:1;
}*/